body { 
   	font-family: 'Palatino Linotype';
  	border-style: ridge;
}

a:link {
   	background-color: white;
  	color: red;
}

a:visited { 
  	background-color: black;
  	color: yellow;
}

a:hover { 
    background-color: red;
 	color: black;
}

a:active {
   	background-color: blue;
	color: lightgreen;
}

h1 { 
   	font-family: 'Londrina Outline', cursive;  
   	font-size: 200%;
   	text-transform: uppercase;
   	text-shadow: 2px 2px black;
   	word-spacing: 20px;
   	border: outset;
}

h2,h3,p { 
  	padding: 10px;
}

#fsm {
	float: left;
   	margin: 0px auto; 
  	height: 275px;
   	box-shadow: 3px 3px 4px gray;
   	text-align: center;
   	font-family: 'Lucida Grande';
   	font-style: italic;
}

#emblem { 
	float: right;
   	width: 400px;
	box-shadow: 3px 3px 4px black; 
   	text-align: center;
   	font-family: 'Lucida Grande';
   	font-style: italic;
}

#general { 
	padding-left: 1%
   	border-radius: 20px;
   	box-shadow: 1px 1px 1px black;
}

#history { 
   	border-radius:10px;
   	box-shadow: 1px 1px 1px black;
   	border-style:solid;
   	border-width:3px;
}

#history h2{ 
   	text-shadow: 1px 1px lightgray;
   	margin: 0px auto
   	border-style:double;
 	border-width:3px;
}

#history blockquote{ 
	line-height: 90%;  /*required item */
}

#phenom {
   
   	box-shadow: 1px 1px 1px black;
   	border-style:solid;
   	border-width:3px;
}
#phenom h3 {
	text-shadow: 1px 1px darkgray;
   	border-style:double;
   	border-width:3px;
}

#links {
   	font-weight: bold; 
    font-style: italic;
    border-style:solid;
 	border-width:3px;
    margin: 0px auto;
}

#links h3 { 
   	text-shadow: 1px 1px black;
}

#links li{ 
   	list-style-type:circle;
   	display:inline;
}

p.return {
         text-align: right; /*used css to move link to right side of screen to differntiate and make it more visible.*/
}